<!-- partials/header.ejs -->
<header>
<div class="navbar">
    <i class="fa-solid fa-bars burger"></i>
    <img class="logo" src="/images/LOGO PINTUR.png" width="100px">
    <ul class="links nav-textos">
        <li class="uno"><a href="#">Colores</a></li>
        <li class="dos"><a href="#">Accesorios</a></li>
        <li class="tres"><a href="/products">Productos</a></li>
        <li class="cuatro"><a href="#">Asesoramiento</a></li>
    </ul>
    <ul class="links iconos-der">
        <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
        <li><a href="/users/login"><i class="fa-regular fa-user"></i></a></li>
        <li><a href="/products/productCart"><i class="fa-solid fa-cart-shopping"></i></a></li>
    </ul>
</div>
<div class="linea"></div>

<div class="ovalo">
</div>

</header>