<!-- partials/footer.ejs -->

<footer>
    <div class="footer-bar">
        <img class="logo-footer" src="/images/LOGO PINTUR.png" width="100px">
        <ul class="text-ayuda">
            <li class="titulo">Ayuda</li>
            <li>Acerca de nosotros</li>
            <li>Contactános</li>
            <li>Whatsapp +5491134567</li>
        </ul>
        <ul class="compra-segura">
            <li class="titulo">Compra 100% segura</li>
            <li>Nuestro sitio tiene toda </li>
            <li>la seguridad para tu compra.</li>
        </ul>
        <ul class="encuentra-sucursal">
            <li class="titulo">Encuentra una sucursal</li>
            <li>Dirección</li>
            <li>ewwt 3456, Abosdjis</li>
        </ul>

    </div>
    <div class="ovalo-footer">
    </div>
</footer>

</html>