<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
    <script src="../app.js"></script>
    <link rel="stylesheet" href="/css/carritocompras.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="navbar">
            <i class="fa-solid fa-bars burger"></i>
            <img class="logo" src="/images/LOGO PINTUR.png" width="100px">
            <ul class="links nav-textos">
                <li class="uno"><a href="#">Colores</a></li>
                <li class="dos"><a href="#">Accesorios</a></li>
                <li class="tres"><a href="#">Catálogo</a></li>
                <li class="cuatro"><a href="#">Asesoramiento</a></li>
            </ul>
            <ul class="links iconos-der">
                <li><a href="#"> <i class="fa-solid fa-magnifying-glass"></i></a></li>
                <li><a href="#"><i class="fa-regular fa-user"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </div>
    </header>
    <div class="linea"></div>

    <div class="ovalo">
    </div>
    <div class="bienvenido">
        <h2 class="texto-ovalo">Carrito de compras</h2>
    </div>
    <div class="botones-ovalo">
        <div class="absolute-boton">
            <form action="/carritocompras" method="POST">
                <input class="seguir-comprando" type="text" name="se" id="se" placeholder="Seguir comprando" >
                <i class="fa-solid fa-arrow-left flecha"></i>
                      </div>
    </div>
    <section class="body-ustedes">
        <div class="boletin">
            <p class="h3-boletin">Subscribite a nuestro boletín</p>
            <p class="p-boletin">Descubrí ideas y tendencias de decoración</p>
            <p class="p-boletin">en nuestro nuevo boletín mensual</p>
            <input class="email" type="email" name="email" id="email" placeholder="Dirección de correo electrónico">
            <p class="contactanos-boletin">Contactános</p>
            <ul class="iconos-contacto">
                <li class="facebook"><a href="#"> <i class="fa-brands fa-facebook-f"></i></i></a></li>
                <li class="twitter"><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li class="instagram"><a href="#"><i class="fa-brands fa-instagram"></i></i></a></li>
            </ul>
        </div>
    </section>
</body>
<footer>
    <div class="footer-bar">
        <img class="logo-footer" src="/images/LOGO PINTUR.png" width="100px">
        <ul class="text-ayuda">
            <li class="titulo">Ayuda</li>
            <li>Acerca de nosotros</li>
            <li>Contactános</li>
            <li>Whatsapp +5491134567</li>
        </ul>
        <ul class="compra-segura">
            <li class="titulo">Compra 100% segura</li>
            <li>Nuestro sitio tiene toda </li>
            <li>la seguridad para tu compra.</li>
        </ul>
        <ul class="encuentra-sucursal">
            <li class="titulo">Encuentra una sucursal</li>
            <li>Dirección</li>
            <li>ewwt 3456, Abosdjis</li>
        </ul>

    </div>
    <div class="ovalo-footer">
    </div>
</footer>

</html>