<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navfooter.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Pintur - Home</title>
</head>

<body>
    <header>
        <%- include('partials/header') %>
    </header>
    <div class="bienvenido">
        <h2 class="texto-ovalo">¡Bienvenido a tu mundo de colores!</h2>
    </div>
    <div class="botones-ovalo">
        <div class="absolute-boton">
            <form action="/index" method="POST">
                <input class="boton-uno" type="text" name="se" id="se" placeholder="Se lo que quiero">
                <input class="boton-dos" type="text" name="nose" id="nose" placeholder="No estoy seguro">
        </div>
    </div>
    <main>
        <section class="contenedor-top-cards">
            <div class="top-cards">
                <div class="texto-top-cards1">
                    <h2>Inspiración</h2>
                    <button>Ver más ></button>
                </div>
                <img src="/images/Inspiracion.png" alt="inspiracion">
                <div class="texto-top-cards2">
                    <h2>Consejos</h2>
                    <button>Ver más ></button>
                </div>
                <img src="/images/consejos.png" alt="consejos">
                <div class="texto-top-cards3">
                    <h2>Productos</h2>
                    <button>Ver más ></button>
                </div>
                <img src="/images/productos.png" alt="productos">
            </div>
        </section>
        <section class="contenedor-middle-bar">
            <div class="middle-bar">
                <ul>
                    <li>Quiero Pintar</li>
                    <li>Quiero Reparar</li>
                    <li>Quiero Impermeabilizar</li>
                    <li>Quiero Revestir</li>
                </ul>
            </div>
        </section>
        <section class="contenedor-big-card">
            <div class="big-card1">
                <img src="/images/linea-interior.png" alt="img-linea-interior">
                <div class="big-card1-texto">
                    <h2>Linea Interior</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis cumque, libero at excepturi optio
                        voluptatibus reiciendis, doloremque consequatur praesentium quos facere eos.</p>
                    <button class="big-card-button">VER MAS</button>
                </div>
            </div>
            <div class="big-card2">
                <img src="/images/linea-exterior.png" alt="img-linea-exterior">
                <div class="big-card2-texto">
                    <h2>Linea Exterior</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis cumque, libero at excepturi optio
                        voluptatibus reiciendis, doloremque consequatur praesentium quos facere eos.</p>
                    <button class="big-card-button">VER MAS</button>
                </div>
            </div>
        </section>
        <section class="body-ustedes">
            <div class="boletin">
                <p class="h3-boletin">Subscribite a nuestro boletín</p>
                <p class="p-boletin">Descubrí ideas y tendencias de decoración</p>
                <p class="p-boletin">en nuestro nuevo boletín mensual</p>
                <input class="email" type="email" name="email" id="email" placeholder="Dirección de correo electrónico">
                <p class="contactanos-boletin">Contactános</p>
                <ul class="iconos-contacto">
                    <li class="facebook"><a href="#"> <i class="fa-brands fa-facebook-f"></i></i></a></li>
                    <li class="twitter"><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li class="instagram"><a href="#"><i class="fa-brands fa-instagram"></i></i></a></li>
                </ul>
            </div>
        </section>
    </main>
</body>

<footer>
    <%- include('partials/footer') %>
</footer>

</html>