<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..//public/css/producto.css">
    <title>Detalle de producto</title>
</head>
<body>
    <nav class="nav">
        <div>Colores</div>
        <div>Accesorios</div>
        <div>Catalogo</div>
        <div>Asesoramiento</div>
    </nav>

    <h1 class="titulo">Cielos Rasos</h1>
<br>

<div class="divBoton">
    <button  class="botonVolver"> ←-----  Seguir comprando</button>
</div> 


<section class="detalleProducto">
    <div><img src="..\\public\images\productoimagen.png"></div>
    <div class="contenido">
        <p>Descripción</p>
        <p>Detalles</p>
        <p>Reseñas</p>
    </div>
</section>






</body>
</html>