<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pintur</title>
    <link rel="stylesheet" href="/css/productCart.css">
    <link rel="stylesheet" href="/css/navfooter.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />

</head>
<body>
    
    <header>
        <div class="navbar">
            <i class="fa-solid fa-bars burger"></i>
            <img class="logo" src="/images/LOGO PINTUR.png" width="100px">
            <ul class="links nav-textos">
                <li class="uno"><a href="#">Colores</a></li>
                <li class="dos"><a href="#">Accesorios</a></li>
                <li class="tres"><a href="#">Catálogo</a></li>
                <li class="cuatro"><a href="#">Asesoramiento</a></li>
            </ul>
            <ul class="links iconos-der">
                <li><a href="#"> <i class="fa-solid fa-magnifying-glass"></i></a></li>
                <li><a href="#"><i class="fa-regular fa-user"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </div>
    </header>
    
    <main>

        <div class="cont">
            
            <div class="titulo">

                <h1>Carrito de compras</h1>

            </div>
            
            <div id="button1">

                <button><i class="fa-solid fa-arrow-left"></i>   Seguir Comprando</button>

            </div>
        
        </div>
        
        <div class="cont-producto">

            <div>
                <h2 class="titulo-producto">Productos(3)</h2>
            </div>

            <div>

                <div class="cont-producto-indiv">
                    
                    <div class="primera-fila">
                        
                        <img src="/images/albaAbacryl.png" alt="Alba Abacryl" width="50px" height="50px" class="img-producto1">
                        
                        <div>
                            <p><b>Alba Abacryl</b></p>
                            <p>Lorem Ipsum</p>
                        </div>

                    </div>

                    <div class="segunda-tercera-fila">
                        <div>
                            <select name="color" placeholder= "Elija un color "  id="colores-prod" >
                                    
                                    <option value="" >Elije un color</option>
                                    <option value="blanco">Blanco</option>
                                    <option value="rojo">Rojo</option>
                                    <option value="azul">Azul</option>
                                    <option value="verde">Verde</option>

                                </select> 
                            </div>
                            <div>
                                <button type="submit">-</button>
                                <label for="cantidad">3</label>
                                <button type="submit">+</button>
                        </div>

                        <div>
                            <select name="cant-litros" placeholder= "Litros"  id="cant-litros" >
                                
                                <option value="5L" >5L</option>
                                <option value="10L">10L</option>
                                <option value="15L">15L</option>
                                <option value="20L">20L</option>
                                <option value="30L">30L</option>

                            </select> 
                        </div>
                        <div>
                        <button type="reset"><i class="fa-solid fa-trash"></i></button> 
                        </div>

                    </div>

                </div>

                <div class="cont-producto-indiv">
                    
                    <div class="primera-fila">
                        
                        <img src="/images/albaAbacryl.png" alt="Alba Abacryl" width="50px" height="50px" class="img-producto1">
                        
                        <div>
                            <p><b>Alba Abacryl</b></p>
                            <p>Lorem Ipsum</p>
                        </div>

                    </div>

                    <div class="segunda-tercera-fila">
                        <div>
                            <select name="color" placeholder= "Elija un color "  id="colores-prod" >
                                    
                                    <option value="" >Elije un color</option>
                                    <option value="blanco">Blanco</option>
                                    <option value="rojo">Rojo</option>
                                    <option value="azul">Azul</option>
                                    <option value="verde">Verde</option>

                                </select> 
                            </div>
                            <div>
                                <button type="submit">-</button>
                                <label for="cantidad">3</label>
                                <button type="submit">+</button>
                        </div>

                        <div>
                            <select name="cant-litros" placeholder= "Litros"  id="cant-litros" >
                                
                                <option value="5L" >5L</option>
                                <option value="10L">10L</option>
                                <option value="15L">15L</option>
                                <option value="20L">20L</option>
                                <option value="30L">30L</option>

                            </select> 
                        </div>
                        <div>
                        <button type="reset"><i class="fa-solid fa-trash"></i></button> 
                        </div>

                    </div>

                </div>

                <div class="cont-producto-indiv">
                    
                    <div class="primera-fila">
                        
                        <img src="/images/albaAbacryl.png" alt="Alba Abacryl" width="50px" height="50px" class="img-producto1">
                        
                        <div>
                            <p><b>Alba Abacryl</b></p>
                            <p>Lorem Ipsum</p>
                        </div>

                    </div>

                    <div class="segunda-tercera-fila">
                        <div>
                            <select name="color" placeholder= "Elija un color "  id="colores-prod" >
                                    
                                    <option value="" >Elije un color</option>
                                    <option value="blanco">Blanco</option>
                                    <option value="rojo">Rojo</option>
                                    <option value="azul">Azul</option>
                                    <option value="verde">Verde</option>

                                </select> 
                            </div>
                            <div>
                                <button type="submit">-</button>
                                <label for="cantidad">3</label>
                                <button type="submit">+</button>
                        </div>

                        <div>
                            <select name="cant-litros" placeholder= "Litros"  id="cant-litros" >
                                
                                <option value="5L" >5L</option>
                                <option value="10L">10L</option>
                                <option value="15L">15L</option>
                                <option value="20L">20L</option>
                                <option value="30L">30L</option>

                            </select> 
                        </div>
                        <div>
                        <button type="reset"><i class="fa-solid fa-trash"></i></button> 
                        </div>

                    </div>

                </div>

            </div>    

        </div>

        <div>

            <div class="imagen2">
                <img src="/images/albaFondoCart.png" alt="">
            </div>

            <div class="cuadrado-sucursales">

                <div>
                    <h1>Encontrar sucursal</h1>
                </div>

                <div>
                    <button><i class="fa-solid fa-store"></i> VER MÁS TIENDAS</button>
                </div>

            </div>

        </div>
    
    </main>

    <footer>
        <div class="footer-bar">
            <img class="logo-footer" src="/images/LOGO PINTUR.png" width="100px">
            <ul class="text-ayuda">
                <li class="titulo">Ayuda</li>
                <li>Acerca de nosotros</li>
                <li>Contactános</li>
                <li>Whatsapp +5491134567</li>
            </ul>
            <ul class="compra-segura">
                <li class="titulo">Compra 100% segura</li>
                <li>Nuestro sitio tiene toda </li>
                <li>la seguridad para tu compra.</li>
            </ul>
            <ul class="encuentra-sucursal">
                <li class="titulo">Encuentra una sucursal</li>
                <li>Dirección</li>
                <li>ewwt 3456, Abosdjis</li>
            </ul>
    
        </div>
        <div class="ovalo-footer">
        </div>
    </footer>
</body>
</html>
