@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');

* {
    font-family: 'Outfit', sans-serif;
}

html,
body {
    min-height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
}

.product-wrapper {
    margin: 5px;
}

.producto {
    background-color: white;

}

.caja-articulos {
    /* border: 1px solid #ebebeb; */
    padding: 15px;
    box-sizing: border-box;
    position: relative;
}

.descripcion-inline {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.texto-gral {
    font-size: 12px;
    text-align: center;
}



.precios {
    font-size: 18px;
    margin-block: -15px;
    margin-right: 16px;
}

.descuentos {
    font-size: 16px;
    color: #39b54a;

}

.descripciones {
    font-size: 16px;
    display: none;

}


.imagen-productos {

    width: 13vw;
}



@media (min-width:320px) {

    .bienvenido {
        display: flex;
        color: #1E1E1E;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .texto-ovalo {
        z-index: 10;
        position: absolute;
        top: 75px;
        font-size: 25px;
    }



    .botones-ovalo {
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
    }

    .absolute-boton {
        z-index: 10;
        position: absolute;
        top: 152px;
        flex-direction: column;
    }

    
    section {
        height: 50vh;
    }


    .boletin {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-bottom: 103px;
    }

    .body-ustedes {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .h3-boletin {
        margin: 10px;
        font-size: 22px;
        color: #1E1E1E;
    }

    .p-boletin {
        margin: 1px;
        font-size: 12px;
        color: #545151;
    }

    .email {
        margin-top: 10px;
        margin-bottom: 8px;
        border-radius: 35px;
        height: 20px;
        width: 200px;
        font-size: 12px;
        border-width: 1px;
        padding: 2px 12px;
    }

    .email:hover {
        box-shadow: 3px 3px 4px rgb(147 144 144 / 50%);
    }

    .contactanos-boletin {
        font-size: 10px;
        color: #545151;

    }

    .iconos-contacto {
        width: 27vw;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 14px;
        list-style: none;
        margin: 0;
        padding: 0;
    }

            

    


    article:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .descripciones {
        display: block;
    }

    .descripcion-inline {
        opacity: 0;
        transition: opacity 0.5s ease;
    }

    .product-wrapper:hover .descripcion-inline {
        opacity: 1;
    }

    .products .product-wrapper {
        display: inline-block;
        width: 40%;
        margin-bottom: 20px;
    }

    .products2 .product-wrapper {
        display: inline-block;
        width: 40%;
        margin-bottom: 20px;
    }


    .products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

    }

    .products2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;
    }

    .producto {
        display: flex;
        flex-direction: column;
        background-color: white;

    }

    .descripcion-inline {
        opacity: 0;
        transition: opacity 0.5s ease;
    }

    .product-wrapper:hover .descripcion-inline {
        opacity: 1;
    }



}

@media (min-width: 768px) {
   

    main {
        height: 122vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .burger {
        display: none;
        color: #EBF0F5;
    }

    .navbar {
        position: relative;
        display: inline-flex;
        align-items: center;
        height: 76px;
        flex-direction: row;
        width: 100vw;
        justify-content: space-between;
        z-index: 10;
        align-content: center;
    }

    .logo {
        margin: -111px;
    }

    .links {
        display: inline-flex;
        flex-direction: row;
        font-size: 12px;
        list-style: none;
    }

    .links li {
        width: 35vw;

    }

    .nav-textos {
        width: 36vw;
        display: inline-flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
    }


    .iconos-der {
        width: 11vw;
        display: inline-flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
        margin-right: 12px;
    }

    .linea {
        background-color: #fff;
        height: 1px;
        position: relative;
        z-index: 10;
        top: -6px;
        width: 100vw;

    }

    .ovalo {
        background-color: #EBF0F5;
        height: 36vh;
        border-radius: 50%;
        position: relative;
        z-index: 1;
        bottom: 109px;
        width: 100vw;
    }

    .bienvenido {
        display: flex;
        justify-content: center;
        color: #1E1E1E;
        align-items: center;
        height: -41px;
    }

    .texto-ovalo {
        z-index: 10;
        position: absolute;
        top: 63px;
        font-size: 28px;
    }

    .botones-ovalo {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .absolute-boton {
        z-index: 10;
        position: absolute;
        top: 132px;
    }



    section {
        height: 50vh;
    }



    .boletin {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-bottom: 92px;
    }

    .body-ustedes {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        height: 30vh;
    }

    .h3-boletin {
        margin: 10px;
        font-size: 22px;
        color: #1E1E1E;
    }

    .p-boletin {
        margin: 1px;
        font-size: 12px;
        color: #545151;
    }

    .email {
        margin-top: 10px;
        margin-bottom: 8px;
        border-radius: 35px;
        height: 20px;
        width: 200px;
        font-size: 12px;
        border-width: 1px;
        padding: 2px 12px;
    }

    .email:hover {
        box-shadow: 3px 3px 4px rgb(147 144 144 / 50%);
    }

    .contactanos-boletin {
        font-size: 10px;
        color: #545151;

    }

    .iconos-contacto {
        width: 23vw;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 14px;
        list-style: none;
        margin: 0;
        padding: 0;
    }

   
    article:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .descripciones {
        display: block;
    }

    .descripcion-inline {
        opacity: 0;
        transition: opacity 0.5s ease;
    }

    .products .product-wrapper {
        display: inline-block;
        width: 23%;
        margin-bottom: 20px;
        border: 1px solid #ebebeb;
    }

    .products2 .product-wrapper {
        display: inline-block;
        width: 23%;
        margin-bottom: 20px;
        border: 1px solid #ebebeb;
    }

    .product-wrapper:hover .descripcion-inline {
        opacity: 1;
    }
 
       

    .products {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: flex-start;
        flex-wrap: wrap;
        height: 60vh;
    }

    .products2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 20px;
        height: 60vh;
        align-content: flex-start;
    }

    .producto {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 20vw;
        align-items: center;
    }

    .caja-articulos {
        background-color: white;
        position: relative;
        width: 20vw;
    }

    .iconosYtexto {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        position: relative;
    }

    section {
        display: inline;
    }

    .datos {
        font-size: 12px;
        color: rgb(75, 74, 74);
        display: inline-flex;
    }

    .datoTienda {
        font-size: 12px;
        color: rgb(124, 123, 123);
        display: inline-flex;
    }

    .check {
        color: #2fc48d;
    }

    .location {
        color: rgb(124, 123, 123);
    }
}


@media (min-width: 1024px) {

    .bienvenido {
        display: flex;
        justify-content: center;
        color: #1E1E1E;
        align-items: center;
        height: -41px;
    }

    .texto-ovalo {
        z-index: 10;
        position: absolute;
        top: 66px;
        font-size: 29px;
    }

    .botones-ovalo {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .absolute-boton {
        z-index: 10;
        position: absolute;
        top: 134px;

    }

    .boton-uno {
        background-color: #FFFDFD;
        padding: 2px 12px;
        border-width: 0px;
        border-radius: 35px;
        height: 20px;
        margin: 10px;
        text-align: center;
        width: 115px;
        font-size: 13px;
    }

    .boton-dos {
        background-color: #FFFDFD;
        padding: 2px 12px;
        border-width: 0px;
        border-radius: 35px;
        height: 20px;
        margin: 10px;
        text-align: center;
        width: 115px;
        font-size: 13px;
    }

    .boton-uno:hover,
    .boton-dos:hover {
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    }


    section {
        height: 50vh;
    }

    footer {
        background-color: #EBF0F5;
        width: 100vw;
        height: 17vh;
    }


    .ovalo-footer {
        background-color: #EBF0F5;
        height: 20vh;
        border-radius: 75%;
        position: relative;
        z-index: -10;
        bottom: 165px;
        width: 100vw;
    }



    .boletin {
        display: inline-flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 99px;
        align-items: center;
    }

    .body-ustedes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
    }

    .h3-boletin {
        margin: 10px;
        font-size: 22px;
        color: #1E1E1E;
    }

    .p-boletin {
        margin: 1px;
        font-size: 12px;
        color: #545151;
    }

    .email {
        margin-top: 10px;
        margin-bottom: 8px;
        border-radius: 35px;
        height: 20px;
        width: 200px;
        font-size: 12px;
        border-width: 1px;
        padding: 2px 12px;
    }

    .email:hover {
        box-shadow: 3px 3px 4px rgb(147 144 144 / 50%);
    }

    .contactanos-boletin {
        font-size: 10px;
        color: #545151;

    }

    .iconos-contacto {
        width: 23vw;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 14px;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    /* CARRITO COMPRAS*/

    .ventana-compra {
        display: inline-flex;
        flex-direction: column;
        width: 100vw;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .producto-1 {
        display: flex;
        flex-direction: row;
        width: 100vw;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 20px;
    }

    .producto-2 {
        display: flex;
        flex-direction: row;
        width: 100vw;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 20px;

    }

    .producto-3 {
        display: flex;
        flex-direction: row;
        width: 100vw;
        align-items: center;
        justify-content: space-evenly;
    }

    .producto {

        width: 9%;

    }

    .nombre-producto {
        display: inline;
        font-size: 14px;
        margin-bottom: 3px;
    }

    .texto-producto {
        font-size: 12px;
        color: #A1A1A1;
        margin-top: 4px;

    }

    .boxes {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        width: 52%;
    }

    .color {
        margin-top: -7px;
        margin-bottom: -4px;
        border-radius: 6px;
        height: 31px;
        width: 165px;
        font-size: 12px;
        border-width: 1px;
        border-color: #58585870;
        padding: 2px 12px;
    }

    .button-masymenos {
        margin-top: -7px;
        margin-bottom: -4px;
        border-radius: 6px;
        height: 31px;
        width: 31px;
        font-size: 18px;
        border-width: 1px;
        border-color: #58585870;
        margin-right: 5px;
        margin-left: 5px;
    }

    .litros {
        margin-top: -7px;
        margin-bottom: -4px;
        border-radius: 6px;
        height: 31px;
        width: 82px;
        font-size: 12px;
        border-width: 1px;
        border-color: #58585870;
        padding: 2px 12px;
    }

    .basura {
        margin-top: -7px;
        margin-bottom: -4px;
        margin-bottom: -5px;
        border-radius: 6px;
        height: 31px;
        width: 31px;
        border-width: 1px;
        border-color: #58585870;
    }

    .textos {
        display: inline-flex;
        flex-direction: column;

    }


    .titulo-h3 {
        margin-left: 68px;
    }



    .button-masymenos {
        margin-top: -7px;
        margin-bottom: -4px;
        border-radius: 6px;
        height: 31px;
        width: 31px;
        font-size: 18px;
        border-width: 1px;
        border-color: #58585870;
        margin-right: 5px;
        margin-left: 5px;
    }

    .litros {
        margin-top: -7px;
        margin-bottom: -4px;
        border-radius: 6px;
        height: 31px;
        width: 82px;
        font-size: 12px;
        border-width: 1px;
        border-color: #58585870;
        padding: 2px 12px;
    }


    .textos {
        display: inline-flex;
        flex-direction: column;

    }




    .seguir-comprando {
        background-color: #FFFDFD;
        padding: 2px 15px;
        border-width: 0px;
        border-radius: 35px;
        height: 20px;
        margin: 5px;
        text-align: end;
        width: 127px;
        font-size: 13px;
    }

    .seguir-comprando:hover {
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    }

    .flecha {
        position: absolute;
        color: #191919;
        width: 20px;
        height: 12px;
        left: 18px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 14px;
    }

    .encontrar-sucursal {
        width: 100vw;
        display: flex;
        justify-content: center;
        margin-top: 66px;
        position: relative;
        flex-wrap: wrap;
    }

    .img-sucursal {
        width: 76vw;
        height: 35vh;
        margin-left: 136px;
        margin-bottom: 25px;
    }

    .continuar {
        border-radius: 17px;
        height: 33px;
        width: 144px;
        font-size: 10px;
        border-width: 0px;
        color: #ffffff;
        background-color: #111010;
        padding: 2px 12px;
    }

    .rectangulo-absoluto {
        position: absolute;
        background-color: #fff;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        height: 25vh;
        width: 32vw;
        top: 36px;
        left: 127px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .h1-sucursal {
        margin-bottom: 7px;
        margin-top: 0px;
    }

    main {
        height: 189vh;
    }

    .block {
        display: block;
    }
}