@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');

* {
    font-family: 'Outfit', sans-serif;
}

html,
body {
    min-height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
}



@media (min-width:320px) {

   header {
    background-color: #ffffff;
    width: 100vw;
    position: relative;
    height: 30vh;
    z-index: 1;
}

.navbar {
    display: inline-flex;
    align-items: center;
    height: 76px;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
    background-color: #EBF0F5;
    align-content: center;
}


.logo {
    margin-left: 25px;
}

.burguer {
    font-size: 14px;
}

.links {
    display: inline-flex;
    flex-direction: row;
    font-size: 12px;
    list-style: none;
}

.links li {
    width: 35vw;

}

.nav-textos {
    width: 36vw;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    display: none;
}


.iconos-der {
    width: 21vw;  
    padding: 0;
    font-size: 14px;   
}

.linea {
    background-color: #fff;
    height: 1px;
    position: relative;
    z-index: 10;
    top: -6px;
    width: 100vw;

}

.ovalo {
    background-color: #EBF0F5;
    height: 36vh;
    border-radius: 50%;
    position: relative;
    z-index: -10;
    bottom: 121px;
    width: 100vw;
}

.bienvenido {
    display: flex;
    color: #1E1E1E;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.texto-ovalo {
    z-index: 10;
    position: absolute;
    top: 75px;   
    font-size: 25px;
}



.botones-ovalo {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}

.absolute-boton {
    z-index: 10;
    position: absolute;
    top: 152px;
    flex-direction: column;
}

.ventana-compra {
    display:inline-flex;
    flex-direction: column;
}

    .producto-1 {
        display:inline-flex;
        flex-direction: column;
        width: 55vw;
    }

    .producto {
        width: 31vw;
        /* height: 40vh; */
    }
.boxes {
    display:inline-flex;
    flex-direction: column;
}
section {
    height: 50vh;
}

footer {
    background-color: #EBF0F5;
    width: 100vw;
    height: 40vh;
}


.ovalo-footer {
    background-color: #EBF0F5;
    height: 26vh;
    border-radius: 50%;
    position: relative;
    z-index: -10;
    bottom: 303px;
    width: 100vw;
}

.footer-bar {
    display: inline-flex;
    align-items: flex-start;
    height: 200px;
    flex-direction: column;
    width: 100vw;
    align-content: center;
    margin-bottom: 19px;
}

.logo-footer {
    margin-left: 114px;
    margin-bottom: 12px;
    width: 130px;
}

.text-ayuda {
    font-size: 12px;
    list-style: none;
}

.titulo {
    color: #2390cf;
    font-size: 13px;
}

.compra-segura {
    font-size: 12px;
    list-style: none;
    align-items: center;
}

.encuentra-sucursal {
    font-size: 12px;
    list-style: none;
}

.boletin {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 103px;
}

.body-ustedes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.h3-boletin {
    margin: 10px;
    font-size: 22px;
    color: #1E1E1E;
}

.p-boletin {
    margin: 1px;
    font-size: 12px;
    color: #545151;
}

.email {
    margin-top: 10px;
    margin-bottom: 8px;
    border-radius: 35px;
    height: 20px;
    width: 200px;
    font-size: 12px;
    border-width: 1px;
    padding: 2px 12px;
}

.email:hover {
    box-shadow: 3px 3px 4px rgb(147 144 144 / 50%);
}

.contactanos-boletin {
    font-size: 10px;
    color: #545151;

}

.iconos-contacto {
    width: 27vw;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 14px;
    list-style: none;
    margin: 0;
    padding: 0;
}

 .seguir-comprando {
        background-color: #FFFDFD;
        padding: 2px 15px;
        border-width: 0px;
        border-radius: 35px;
        height: 20px;
        margin: 5px;
        text-align: end;
        width: 127px;
        font-size: 13px;
    }

    .seguir-comprando:hover {
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    }

    .flecha {
        position: absolute;
        color: #191919;
        width: 20px;
        height: 12px;
        left: 18px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 14px;
    }

@media (min-width: 768px) {
    header {
        background-color: #ffffff;
        width: 100vw;
        position: relative;
        height: 30vh;
    }

    main {
        height: 122vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .burger {
        display: none;
        color: #EBF0F5;
    }

    .navbar {
        position: relative;
        display: inline-flex;
        align-items: center;
        height: 76px;
        flex-direction: row;
        width: 100vw;
        justify-content: space-between;
        z-index: 10;
        align-content: center;
    }

    .logo {
        margin: -111px;
    }

    .links {
        display: inline-flex;
        flex-direction: row;
        font-size: 12px;
        list-style: none;
    }

    .links li {
        width: 35vw;

    }

    .nav-textos {
        width: 36vw;
        display: inline-flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
    }


    .iconos-der {
        width: 11vw;
        display: inline-flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
        margin-right: 12px;
    }

    .linea {
        background-color: #fff;
        height: 1px;
        position: relative;
        z-index: 10;
        top: -6px;
        width: 100vw;

    }

    .ovalo {
        background-color: #EBF0F5;
        height: 36vh;
        border-radius: 50%;
        position: relative;
        z-index: 1;
        bottom: 109px;
        width: 100vw;
    }

    .bienvenido {
        display: flex;
        justify-content: center;
        color: #1E1E1E;
        align-items: center;
        height: -41px;
    }

    .texto-ovalo {
        z-index: 10;
        position: absolute;
        top: 63px;
        font-size: 28px;
    }

    .botones-ovalo {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .absolute-boton {
        z-index: 10;
        position: absolute;
        top: 132px;
    }



    section {
        height: 50vh;
    }

    footer {
        background-color: #EBF0F5;
        width: 100vw;
        height: 16vh;
    }


    .ovalo-footer {
        background-color: #EBF0F5;
        height: 11vh;
        border-radius: 75%;
        position: relative;
        z-index: -10;
        bottom: 140px;
        width: 100vw;
    }

    .footer-bar {
        display: inline-flex;
        align-items: center;
        height: 76px;
        flex-direction: row;
        width: 100vw;
        justify-content: space-evenly;
        align-content: center;
    }

    .logo-footer {
        margin: 25px;
        width: 13%;
    }

    .text-ayuda {
        font-size: 12px;
        list-style: none;
    }

    .titulo {
        color: #2390cf;
        font-size: 13px;
    }

    .compra-segura {
        font-size: 12px;
        list-style: none;
        align-items: center;
    }

    .encuentra-sucursal {
        font-size: 12px;
        list-style: none;
    }

    .boletin {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-bottom: 92px;
    }

    .body-ustedes {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        height: 30vh;
    }

    .h3-boletin {
        margin: 10px;
        font-size: 22px;
        color: #1E1E1E;
    }

    .p-boletin {
        margin: 1px;
        font-size: 12px;
        color: #545151;
    }

    .email {
        margin-top: 10px;
        margin-bottom: 8px;
        border-radius: 35px;
        height: 20px;
        width: 200px;
        font-size: 12px;
        border-width: 1px;
        padding: 2px 12px;
    }

    .email:hover {
        box-shadow: 3px 3px 4px rgb(147 144 144 / 50%);
    }

    .contactanos-boletin {
        font-size: 10px;
        color: #545151;

    }

    .iconos-contacto {
        width: 23vw;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 14px;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    /* CARRITO COMPRAS*/

    .ventana-compra {
        display: inline-flex;
        flex-direction: column;
        width: 100vw;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .producto-1 {
        display: flex;
        flex-direction: row;
        width: 100vw;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 20px;
    }

    .producto-2 {
        display: flex;
        flex-direction: row;
        width: 100vw;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 20px;

    }

    .producto-3 {
        display: flex;
        flex-direction: row;
        width: 100vw;
        align-items: center;
        justify-content: space-evenly;
    }

    .producto {

        width: 9%;

    }

    .nombre-producto {
        display: inline;
        font-size: 14px;
        margin-bottom: 3px;
    }

    .texto-producto {
        font-size: 12px;
        color: #A1A1A1;
        margin-top: 4px;

    }

    .boxes {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        width: 52%;
        flex-direction: row;
    }

    .color {
        margin-top: -7px;
        margin-bottom: -4px;
        border-radius: 6px;
        height: 31px;
        width: 165px;
        font-size: 12px;
        border-width: 1px;
        border-color: #58585870;
        padding: 2px 12px;
    }

    .button-masymenos {
        margin-top: -7px;
        margin-bottom: -4px;
        border-radius: 6px;
        height: 31px;
        width: 31px;
        font-size: 18px;
        border-width: 1px;
        border-color: #58585870;
        margin-right: 5px;
        margin-left: 5px;
    }

    .litros {
        margin-top: -7px;
        margin-bottom: -4px;
        border-radius: 6px;
        height: 31px;
        width: 82px;
        font-size: 12px;
        border-width: 1px;
        border-color: #58585870;
        padding: 2px 12px;
    }

    .basura {
        margin-top: -7px;
        margin-bottom: -4px;
        margin-bottom: -5px;
        border-radius: 6px;
        height: 31px;
        width: 31px;
        border-width: 1px;
        border-color: #58585870;
    }

    .textos {
        display: inline-flex;
        flex-direction: column;

    }


    .titulo-h3 {
        margin-left: 68px;
    }



    .button-masymenos {
        margin-top: -7px;
        margin-bottom: -4px;
        border-radius: 6px;
        height: 31px;
        width: 31px;
        font-size: 18px;
        border-width: 1px;
        border-color: #58585870;
        margin-right: 5px;
        margin-left: 5px;
    }

    .litros {
        margin-top: -7px;
        margin-bottom: -4px;
        border-radius: 6px;
        height: 31px;
        width: 82px;
        font-size: 12px;
        border-width: 1px;
        border-color: #58585870;
        padding: 2px 12px;
    }


    .textos {
        display: inline-flex;
        flex-direction: column;

    }


  

    .seguir-comprando {
        background-color: #FFFDFD;
        padding: 2px 15px;
        border-width: 0px;
        border-radius: 35px;
        height: 20px;
        margin: 5px;
        text-align: end;
        width: 127px;
        font-size: 13px;
    }

    .seguir-comprando:hover {
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    }

    .flecha {
        position: absolute;
        color: #191919;
        width: 20px;
        height: 12px;
        left: 18px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 14px;
    }

    .encontrar-sucursal {
        width: 100vw;
        display: flex;
        justify-content: center;
        margin-top: 66px;
        position: relative;
        flex-wrap: wrap;
    }

    .img-sucursal {
        width: 78vw;
        height: 22vh;
        margin-left: 112px;
    }

    .continuar {
             border-radius: 17px;
        height: 33px;
        width: 144px;
        font-size: 10px;
        border-width: 0px;
        color: #ffffff;
        background-color: #111010;
        padding: 2px 12px;
    }

.rectangulo-absoluto {
    position:absolute;
    background-color: #fff;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    height: 16vh;
    width: 39vw;
    top: 30px;
    left: 95px;
    justify-content: center;
    flex-wrap: wrap;
}

.h1-sucursal {
margin-bottom: 7px;
margin-top: 0px;
}


}

@media (min-width: 1024px) {
    header {
        background-color: #ffffff;
        width: 100vw;
        position: relative;
        height: 30vh;
    }

    main {
        height: 164vh;
    }
    .burger {
        display: none;
        color: #EBF0F5;
    }

    .navbar {
        position: relative;
        display: inline-flex;
        align-items: center;
        height: 76px;
        flex-direction: row;
        width: 100vw;
        justify-content: space-between;
        z-index: 10;
        align-content: center;
    }

    .logo {
        margin: -111px;
    }

    .links {
        display: inline-flex;
        flex-direction: row;
        font-size: 12px;
        list-style: none;
    }

    .links li {
        width: 35vw;

    }

    .nav-textos {
        width: 36vw;
        display: inline-flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
    }


    .iconos-der {
        width: 11vw;
        display: inline-flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
        margin-right: 12px;
    }

    .linea {
        background-color: #fff;
        height: 1px;
        position: relative;
        z-index: 10;
        top: -6px;
        width: 100vw;

    }

    .ovalo {
        background-color: #EBF0F5;
        height: 36vh;
        border-radius: 50%;
        position: relative;
        z-index: 1;
        bottom: 130px;
        width: 100vw;
    }

    .bienvenido {
        display: flex;
        justify-content: center;
        color: #1E1E1E;
        align-items: center;
        height: -41px;
    }

    .texto-ovalo {
        z-index: 10;
        position: absolute;
        top: 66px;
        font-size: 29px;
    }

    .botones-ovalo {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .absolute-boton {
        z-index: 10;
        position: absolute;
        top: 134px;

    }

    .boton-uno {
        background-color: #FFFDFD;
        padding: 2px 12px;
        border-width: 0px;
        border-radius: 35px;
        height: 20px;
        margin: 10px;
        text-align: center;
        width: 115px;
        font-size: 13px;
    }

    .boton-dos {
        background-color: #FFFDFD;
        padding: 2px 12px;
        border-width: 0px;
        border-radius: 35px;
        height: 20px;
        margin: 10px;
        text-align: center;
        width: 115px;
        font-size: 13px;
    }

    .boton-uno:hover,
    .boton-dos:hover {
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    }


    section {
        height: 50vh;
    }

    footer {
        background-color: #EBF0F5;
        width: 100vw;
        height: 17vh;
    }


    .ovalo-footer {
        background-color: #EBF0F5;
        height: 20vh;
        border-radius: 75%;
        position: relative;
        z-index: -10;
        bottom: 165px;
        width: 100vw;
    }

    .footer-bar {
        display: inline-flex;
        align-items: center;
        height: 80px;
        flex-direction: row;
        width: 100vw;
        justify-content: space-evenly;
        align-content: center;
    }

    .logo-footer {
        margin: 25px;
        width: 13%;
    }

    .text-ayuda {
        font-size: 12px;
        list-style: none;
    }

    .titulo {
        color: #2390cf;
        font-size: 13px;
    }

    .compra-segura {
        font-size: 12px;
        list-style: none;
        align-items: center;
    }

    .encuentra-sucursal {
        font-size: 12px;
        list-style: none;
    }

    .boletin {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-bottom: 99px;
    }

    .body-ustedes {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .h3-boletin {
        margin: 10px;
        font-size: 22px;
        color: #1E1E1E;
    }

    .p-boletin {
        margin: 1px;
        font-size: 12px;
        color: #545151;
    }

    .email {
        margin-top: 10px;
        margin-bottom: 8px;
        border-radius: 35px;
        height: 20px;
        width: 200px;
        font-size: 12px;
        border-width: 1px;
        padding: 2px 12px;
    }

    .email:hover {
        box-shadow: 3px 3px 4px rgb(147 144 144 / 50%);
    }

    .contactanos-boletin {
        font-size: 10px;
        color: #545151;

    }

    .iconos-contacto {
        width: 23vw;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 14px;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    /* CARRITO COMPRAS*/

    .ventana-compra {
        display: inline-flex;
        flex-direction: column;
        width: 100vw;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .producto-1 {
        display: flex;
        flex-direction: row;
        width: 100vw;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 20px;
    }

    .producto-2 {
        display: flex;
        flex-direction: row;
        width: 100vw;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 20px;

    }

    .producto-3 {
        display: flex;
        flex-direction: row;
        width: 100vw;
        align-items: center;
        justify-content: space-evenly;
    }

    .producto {

        width: 9%;

    }

    .nombre-producto {
        display: inline;
        font-size: 14px;
        margin-bottom: 3px;
    }

    .texto-producto {
        font-size: 12px;
        color: #A1A1A1;
        margin-top: 4px;

    }

    .boxes {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        width: 52%;
    }

    .color {
        margin-top: -7px;
        margin-bottom: -4px;
        border-radius: 6px;
        height: 31px;
        width: 165px;
        font-size: 12px;
        border-width: 1px;
        border-color: #58585870;
        padding: 2px 12px;
    }

    .button-masymenos {
        margin-top: -7px;
        margin-bottom: -4px;
        border-radius: 6px;
        height: 31px;
        width: 31px;
        font-size: 18px;
        border-width: 1px;
        border-color: #58585870;
        margin-right: 5px;
        margin-left: 5px;
    }

    .litros {
        margin-top: -7px;
        margin-bottom: -4px;
        border-radius: 6px;
        height: 31px;
        width: 82px;
        font-size: 12px;
        border-width: 1px;
        border-color: #58585870;
        padding: 2px 12px;
    }

    .basura {
        margin-top: -7px;
        margin-bottom: -4px;
        margin-bottom: -5px;
        border-radius: 6px;
        height: 31px;
        width: 31px;
        border-width: 1px;
        border-color: #58585870;
    }

    .textos {
        display: inline-flex;
        flex-direction: column;

    }


    .titulo-h3 {
        margin-left: 68px;
    }



    .button-masymenos {
        margin-top: -7px;
        margin-bottom: -4px;
        border-radius: 6px;
        height: 31px;
        width: 31px;
        font-size: 18px;
        border-width: 1px;
        border-color: #58585870;
        margin-right: 5px;
        margin-left: 5px;
    }

    .litros {
        margin-top: -7px;
        margin-bottom: -4px;
        border-radius: 6px;
        height: 31px;
        width: 82px;
        font-size: 12px;
        border-width: 1px;
        border-color: #58585870;
        padding: 2px 12px;
    }


    .textos {
        display: inline-flex;
        flex-direction: column;

    }


  

    .seguir-comprando {
        background-color: #FFFDFD;
        padding: 2px 15px;
        border-width: 0px;
        border-radius: 35px;
        height: 20px;
        margin: 5px;
        text-align: end;
        width: 127px;
        font-size: 13px;
    }

    .seguir-comprando:hover {
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    }

    .flecha {
        position: absolute;
        color: #191919;
        width: 20px;
        height: 12px;
        left: 18px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 14px;
    }

    .encontrar-sucursal {
        width: 100vw;
        display: flex;
        justify-content: center;
        margin-top: 66px;
        position: relative;
        flex-wrap: wrap;
    }

    .img-sucursal {
        width: 69vw;
        height: 35vh;
        margin-left: 135px;
        /* margin-bottom: 25px; */
    }

    .continuar {
             border-radius: 17px;
             height: 26px;
             width: 111px;
             font-size: 9px;
             border-width: 0px;
             color: #ffffff;
             background-color: #111010;
             padding: 2px 12px;
    }

.rectangulo-absoluto {
    position:absolute;
    background-color: #fff;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    height: 25vh;
    width: 32vw;
    top: 36px;
    left: 127px;
    justify-content: center;
    flex-wrap: wrap;
}

.h1-sucursal {
margin-bottom: 7px;
margin-top: 0px;
}

main {
    height: 164vh;
}


.box-exterior {
    display: flex;
    position: relative;
    align-items: center;
    /* display: flex; */
    margin-bottom: 28px;
    /* margin-left: 42px; */
    margin-top: 37px;
}

.img-exterior{
    width: 68vw;
    margin-left: 232px;
}

.p-titulo-linea{
    
font-size: 22px;
    
margin-bottom: 14px;
}

.p-lorem{
    font-size: 10px;
    width: 33vw;
}

.caja-blanca1 {
   background-color: #fff;
   height: 28vh;
   width: 40vw;
   position: absolute;
   left: 110px;
   display: inline-flex;
   align-items: center;
}

.caja-blanca2 {
    background-color: #fff;
    height: 26vh;
    width: 30vw;
    position: absolute;
    left: 80px;
    display: inline-flex;
    align-items: center;
 }

.textos-cb {margin-left: 10px;}
}
}