* {
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    padding-top: 40px;

}

h2 {
    text-align: center;
    font-size: 15px;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 100px;
    flex-direction: column
  }



form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 450px;

}


label {
    padding-bottom: 5px;
}

input, textarea, select {
    border-radius: 3px;
    border-width: 1px;
    border-color: #58585870;
    padding: 10px;
}


input[type="file"] {
    display: none;
  }

.input-file {
    padding: 8px 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.input-file:hover {
    background-color: #c5c4c4;
  }


 textarea {
    border-radius: 3px;
    border-width: 1px;
    border-color: #58585870;
    padding: 40px;
}


.enviar {
    border-radius: 17px;
    font-size: 14px;
    border-width: 0px;
    color: #ffffff;
    background-color: #C83838;
    padding: 10px;

}

.borrar {
    margin-top: 15px;
    border-radius: 17px;
    font-size: 14px;
    border-width: 0px;
    color: #ffffff;
    background-color: #C83838;
    padding: 10px;
}



.enviar:hover {
    background-color: #b23535;
}

.borrar:hover {
    background-color: #b23535;
}




/* @media (min-width: 1024px) {

}


@media (min-width: 769px) {

}




@media (min-width:320px) {
    body {
        margin: 10px;
        padding: 10px;
}
} */

.editar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C83838;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    width: 160px;
    height: 25px;
    text-decoration: none;
    padding: 7px;
    margin-top: 25px;
    
}
.editar:hover {
    background-color: #b23535;

}


.usuarioDatos {
    color: rgb(202, 0, 0);
    border: none;

}

.usuarioDatos h1{
    padding-bottom: 60px;


}

.usuarioDatos input{
    font-size: 15px;
    border: none;
    color: rgb(202, 0, 0);
    padding: 10px;

  }


 .usuariosDatos select{
    font-size: 15px;
    border: none;
    color: rgb(202, 0, 0);
    padding: 10px;

  } 