@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');

* {
    font-family: 'Outfit', sans-serif;
}

html,
body {
    min-height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
}

header {
    background-color: #ffffff;
    width: 100vw;
    position: relative;
    height: 100vh;
    z-index: 1;
}

.navbar {
    display: inline-flex;
    align-items: center;
    height: 76px;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
    background-color: #EBF0F5;
    align-content: center;
}


.logo {margin-left: 25px;}

.burguer {
    font-size:14px;
}

.links {
    display: inline-flex;
    flex-direction: row;
    font-size: 12px;
    list-style: none;
}

.links li {
    width: 35vw;

}

.nav-textos {
    width: 36vw;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    display: none;
}


.iconos-der {
    width: 21vw;
    /* display: inline-flex; */
    padding: 0;
    font-size: 14px;
    /* flex-direction: row; */
}

.linea {
    background-color: #fff;
    height: 1px;
    position: relative;
    z-index: 10;
    top: -6px;
    width: 100vw;

}

.ovalo {
    background-color: #EBF0F5;
    height: 36vh;
    border-radius: 50%;
    position: relative;
    z-index: -10;
    bottom: 121px;
    width: 100vw;
}

.bienvenido {
    display: flex;
    color: #1E1E1E;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.texto-ovalo {
    z-index: 10;
    position: absolute;
    top: 62px;
    /* margin-left: 43px; */
    font-size: 25px;
}



.botones-ovalo {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}

.absolute-boton {
    z-index: 10;
    position: absolute;
    top: 152px;
    flex-direction: column;
}

.boton-uno {
    background-color: #FFFDFD;
    padding: 2px 12px;
    border-width: 0px;
    border-radius: 35px;
    height: 20px;
    margin-left: 114px;
    margin-bottom: 7px;
    text-align: center;
    width: 115px;
    font-size: 13px;
}

.boton-dos {
    background-color: #FFFDFD;
    padding: 2px 12px;
    border-width: 0px;
    border-radius: 35px;
    height: 20px;
    margin-left: 114px;
    text-align: center;
    width: 115px;
    font-size: 13px;
    /* top: 51px; */
}


section {
    height: 50vh;
}

footer {
    background-color: #EBF0F5;
    width: 100vw;
    height: 40vh;
    /* margin: 0; */
}


.ovalo-footer {
    background-color: #EBF0F5;
    height: 26vh;
    border-radius: 50%;
    position: relative;
    z-index: -10;
    bottom: 303px;
    width: 100vw;
}

.footer-bar {
    display: inline-flex;
    align-items: flex-start;
    height: 200px;
    flex-direction: column;
    width: 100vw;
    align-content: center;
    margin-bottom: 19px;
}

.logo-footer {
    margin-left: 114px;
    margin-bottom: 12px;
    width: 130px;
}

.text-ayuda {
    font-size: 12px;
    list-style: none;
}

.titulo {
    color: #2390cf;
    font-size: 13px;
}

.compra-segura {
    font-size: 12px;
    list-style: none;
    align-items: center;
}

.encuentra-sucursal {
    font-size: 12px;
    list-style: none;
}

.boletin {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 103px;
}

.body-ustedes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.h3-boletin {
    margin: 10px;
    font-size: 22px;
    color: #1E1E1E;
}

.p-boletin {
    margin: 1px;
    font-size: 12px;
    color: #545151;
}

.email {
    margin-top: 10px;
    margin-bottom:8px;
    border-radius: 35px;
    height: 20px;
    width: 200px;
    font-size: 12px;
    border-width: 1px;
    padding: 2px 12px;
}

.contactanos-boletin {
    font-size: 10px;
    color: #545151;
 
}

.iconos-contacto  {
    width: 27vw;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 14px;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (min-width:361px) {
    header {
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.burger {
    display: none;
    color: #EBF0F5;
}

.navbar {
    display: inline-flex;
    align-items: center;
    height: 76px;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
    align-content: center;
}

.logo {
    margin: -111px;
}

.links {
    display: inline-flex;
    flex-direction: row;
    font-size: 12px;
    list-style: none;
}

.links li {
    width: 35vw;

}

.nav-textos {
    width: 36vw;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}


.iconos-der {
    width: 11vw;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 12px;
}

.linea {
    background-color: #fff;
    height: 1px;
    position: relative;
    z-index: 10;
    top: -6px;
    width: 100vw;

}

.ovalo {
    background-color: #EBF0F5;
    height: 36vh;
    border-radius: 50%;
    position: relative;
    z-index: -10;
    bottom: 130px;
    width: 100vw;
}

.bienvenido {
    display: flex;
    justify-content: center;
    color: #1E1E1E;
}

.texto-ovalo {
    z-index: 10;
    position: absolute;
    top: 67px;
    font-size: 29px;
}

.botones-ovalo {
    display: flex;
    flex-direction:column;
    justify-content: center;
    flex-wrap: wrap;
}

.absolute-boton {
    z-index: 10;
    position: absolute;
    top: 143px;
    /* flex-wrap: wrap; */
}

.boton-uno {
    background-color: #FFFDFD;
    padding: 2px 12px;
    border-width: 0px;
    border-radius: 35px;
    height: 20px;
    margin: 10px;
    text-align: center;
    width: 115px;
    font-size: 13px;
}

.boton-dos {
    background-color: #FFFDFD;
    padding: 2px 12px;
    border-width: 0px;
    border-radius: 35px;
    height: 20px;
    margin: 10px;
    text-align: center;
    width: 115px;
    font-size: 13px;
}

section {
    height: 50vh;
}

footer {
    background-color: #EBF0F5;
    width: 100vw;
    height: 17vh;
}


.ovalo-footer {
    background-color: #EBF0F5;
    height: 20vh;
    border-radius: 75%;
    position: relative;
    z-index: -10;
    bottom: 159px;
    width: 100vw;
}

.footer-bar {
    display: inline-flex;
    align-items: center;
    height: 76px;
    flex-direction: row;
    width: 100vw;
    justify-content: space-evenly;
    align-content: center;
}

.logo-footer {
    margin: 25px;
    width: 13%;
}

.text-ayuda {
    font-size: 12px;
    list-style: none;
}

.titulo {
    color: #2390cf;
    font-size: 13px;
}

.compra-segura {
    font-size: 12px;
    list-style: none;
    align-items: center;
}

.encuentra-sucursal {
    font-size: 12px;
    list-style: none;
}

.boletin {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 92px;
}

.body-ustedes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.h3-boletin {
    margin: 10px;
    font-size: 22px;
    color: #1E1E1E;
}

.p-boletin {
    margin: 1px;
    font-size: 12px;
    color: #545151;
}

.email {
    margin-top: 10px;
    margin-bottom:8px;
    border-radius: 35px;
    height: 20px;
    width: 200px;
    font-size: 12px;
    border-width: 1px;
    padding: 2px 12px;
}

.contactanos-boletin {
    font-size: 10px;
    color: #545151;
 
}

.iconos-contacto  {
    width: 23vw;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 14px;
    list-style: none;
    margin: 0;
    padding: 0;
}
}

@media (min-width: 769px) {
    header {
    background-color: #ffffff;
    width: 100vw;
    position: relative;
    height: 100vh;
}

.burger {
    display: none;
    color: #EBF0F5;
}

.navbar {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 76px;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
    z-index: 10;
    align-content: center;
}

.logo {
    margin: -111px;
}

.links {
    display: inline-flex;
    flex-direction: row;
    font-size: 12px;
    list-style: none;
}

.links li {
    width: 35vw;

}

.nav-textos {
    width: 36vw;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}


.iconos-der {
    width: 11vw;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 12px;
}

.linea {
    background-color: #fff;
    height: 1px;
    position: relative;
    z-index: 10;
    top: -6px;
    width: 100vw;

}

.ovalo {
    background-color: #EBF0F5;
    height: 36vh;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    bottom: 130px;
    width: 100vw;
}

.bienvenido {
    display: flex;
    justify-content: center;
    color: #1E1E1E;
    align-items: center;
    height: -41px;
}

.texto-ovalo {
    z-index: 10;
    position: absolute;
    top: 66px;
    font-size: 29px;
}

.botones-ovalo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.absolute-boton {
    z-index: 10;
    position: absolute;
    top: 134px;
  
}

.boton-uno {
    background-color: #FFFDFD;
    padding: 2px 12px;
    border-width: 0px;
    border-radius: 35px;
    height: 20px;
    margin: 10px;
    text-align: center;
    width: 115px;
    font-size: 13px;
}

.boton-dos {
    background-color: #FFFDFD;
    padding: 2px 12px;
    border-width: 0px;
    border-radius: 35px;
    height: 20px;
    margin: 10px;
    text-align: center;
    width: 115px;
    font-size: 13px;
}

section {
    height: 50vh;
}

footer {
    background-color: #EBF0F5;
    width: 100vw;
    height: 17vh;
}


.ovalo-footer {
    background-color: #EBF0F5;
    height: 20vh;
    border-radius: 75%;
    position: relative;
    z-index: -10;
    bottom: 159px;
    width: 100vw;
}

.footer-bar {
    display: inline-flex;
    align-items: center;
    height: 76px;
    flex-direction: row;
    width: 100vw;
    justify-content: space-evenly;
    align-content: center;
}

.logo-footer {
    margin: 25px;
    width: 13%;
}

.text-ayuda {
    font-size: 12px;
    list-style: none;
}

.titulo {
    color: #2390cf;
    font-size: 13px;
}

.compra-segura {
    font-size: 12px;
    list-style: none;
    align-items: center;
}

.encuentra-sucursal {
    font-size: 12px;
    list-style: none;
}

.boletin {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 92px;
}

.body-ustedes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.h3-boletin {
    margin: 10px;
    font-size: 22px;
    color: #1E1E1E;
}

.p-boletin {
    margin: 1px;
    font-size: 12px;
    color: #545151;
}

.email {
    margin-top: 10px;
    margin-bottom:8px;
    border-radius: 35px;
    height: 20px;
    width: 200px;
    font-size: 12px;
    border-width: 1px;
    padding: 2px 12px;
}

.contactanos-boletin {
    font-size: 10px;
    color: #545151;
 
}

.iconos-contacto  {
    width: 23vw;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 14px;
    list-style: none;
    margin: 0;
    padding: 0;
}

   
}

