@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');

* {
    font-family: 'Outfit', sans-serif;
}

html,
body {
    min-height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    
}

main {
    background-color: #ffffff;
    width: 323px;
    margin: 14px auto;
    display: flex;
    flex-direction: column;
    border-radius: 9px;
    height: 594px;
}

p {
    font-size: 22px;
    color: #1E1E1E;
    margin: 0px 6px 14px 11px;
    display: inline;
}

h2 {
    margin: 22px 0px 3px 11px;
    font-size: 31px;
}

.nombre {
    margin-top: -7px;
    margin-bottom: -4px;
    border-radius: 6px;
    height: 27px;
    width: 270px;
    font-size: 12px;
    border-width: 1px;
    border-color: #58585870;
    padding: 2px 12px;
}

.apellido {
    margin-top: 10px;
    margin-bottom: -4px;
    border-radius: 6px;
    height: 27px;
    width: 270px;
    font-size: 12px;
    border-width: 1px;
    border-color: #58585870;
    padding: 2px 12px;
}

.email {
    margin-top: 10px;
    margin-bottom: -4px;
    border-radius: 6px;
    height: 27px;
    width: 270px;
    font-size: 12px;
    border-width: 1px;
    border-color: #58585870;
    padding: 2px 12px;
}

.tel {
   margin-top: 10px;
    margin-bottom: -4px;
    border-radius: 6px;
    height: 27px;
    width: 270px;
    font-size: 12px;
    border-width: 1px;
    border-color: #58585870;
    padding: 2px 12px;
}

.fecha {
   margin-top: 10px;
    margin-bottom: -4px;
    border-radius: 6px;
    height: 27px;
    width: 270px;
    font-size: 12px;
    border-width: 1px;
    border-color: #58585870;
    padding: 2px 12px;
}

.pais {
  margin-top: 10px;
     margin-bottom: -4px;
    border-radius: 6px;
    height: 27px;
    width: 270px;
    font-size: 12px;
    border-width: 1px;
    border-color: #58585870;
    padding: 2px 12px;
}

.contraseña {
    margin-top: 10px;
   margin-bottom: -4px;
    border-radius: 6px;
    height: 27px;
    width: 270px;
    font-size: 12px;
    border-width: 1px;
    border-color: #58585870;
    padding: 2px 12px;
}

.registrarme {
    margin-top: 18px;
    margin-bottom: 20px;
    border-radius: 17px;
    height: 38px;
    width: 292px;
    font-size: 14px;
    border-width: 0px;
    color: #ffffff;
    background-color: #C83838;
    padding: 2px 12px;
}

.line1 {
    background-color: #58585859;
    height: 1px;
    width: 120px;
}

.linea2 {
    background-color: #58585859;
    height: 1px;
    width: 120px;
}

form {
    display:flex;
    flex-direction:column;
    align-items: center;
}

.lineas {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.o {
    font-size: 12px;
    color: #1E1E1E;
    margin: 0px;
}

.botones {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 5px;
}


.google {
    font-size: 21px;
}
.facebook {font-size: 21px;}

.apple {
    font-size: 26px;
}

.texto-ultimo {
    display: inline-flex;
    flex-direction: row;
    align-items: baseline;
    align-content: center;
    /* margin-left: 8px; */
    justify-content: center;
}


/* input[type="file"] {
    display: none;
  } */

  input::file-selector-button {
    display: none;
}


#image {
    margin-left: 50%;
  }


.input-file {
    margin: 15px;
    padding: 6px 22px;
    background-color: #e8e8e8;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 78%;
    font-size: 13px;
    text-align: center;
}

.input-file:hover {
    background-color: #c5c4c4;
  }


.cuenta {font-size: 12px;margin: 0;margin-right: 4px;}

.inicia {font-size: 12px;display: inline;}

