@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');

.product-wrapper {
    margin: 5px;
}

.producto {
    background-color: white;

}

.caja-articulos {
    /* border: 1px solid #ebebeb; */
    padding: 15px;
    box-sizing: border-box;
    position: relative;
}

.descripcion-inline {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.texto-gral {
    font-size: 12px;
    text-align: center;
}



.precios {
    font-size: 18px;
    margin-block: -15px;
    margin-right: 16px;
}

.descuentos {
    font-size: 16px;
    color: #39b54a;

}

.descripciones {
    font-size: 16px;
    display: none;

}



.camion {
    padding: 8px;
    color: #39b54a;
    border: 1px solid #39b54a;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 1px;
    transition: transform 0.5s ease;
}

.camion:hover {
    transform: rotate(-90deg);
}






.imagen-productos {

width: 13vw;
}



/* Media Querie */

@media (min-width:361px) {
    article:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .descripciones {
        display: block;
    }

    .descripcion-inline {
        opacity: 0;
        transition: opacity 0.5s ease;
    }

    .product-wrapper:hover .descripcion-inline {
        opacity: 1;
    }

    .products .product-wrapper {
        display: inline-block;
        width: 40%;
        margin-bottom: 20px;
    }

    .products2 .product-wrapper {
        display: inline-block;
        width: 40%;
        margin-bottom: 20px;
    }





    .products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

    }

    .products2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;
    }

    .producto {
        display: flex;
        flex-direction: column;
        background-color: white;

    }

    .descripcion-inline {
        opacity: 0;
        transition: opacity 0.5s ease;
    }

    .product-wrapper:hover .descripcion-inline {
        opacity: 1;
    }



}


@media (min-width: 769px) {
    article:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .descripciones {
        display: block;
    }

    .descripcion-inline {
        opacity: 0;
        transition: opacity 0.5s ease;
    }

    .products .product-wrapper {
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
        border: 1px solid #ebebeb;
    }

    .products2 .product-wrapper {
        display: inline-block;
        width: 23%;
        margin-bottom: 20px;
        border: 1px solid #ebebeb;
    }

    .product-wrapper:hover .descripcion-inline {
        opacity: 1;
    }



    .products {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        flex-wrap: wrap;
        height: 60vh;
    }

    .products2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 20px;
        height: 60vh;
        align-content: flex-start;
    }

    .producto {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 20vw;
        align-items: center;
    }

    .caja-articulos {
        background-color: white;
        position: relative;
        width: 20vw;
    }

    .camion {
        padding: 8px;
        color: #39b54a;
        border: 1px solid #39b54a;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        top: 0px;
        transition: transform 0.5s ease;

    }

    .camion:hover {
        transform: rotate(-90deg);
    }

    .iconosYtexto {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        position: relative;
    }

    section {
        display: inline;
    }

    .datos {
        font-size: 12px;
        color: rgb(75, 74, 74);
        display: inline-flex;
    }

    .datoTienda {
        font-size: 12px;
        color: rgb(124, 123, 123);
        display: inline-flex;
    }

    .check {
        color: #2fc48d;
    }

    .location {
        color: rgb(124, 123, 123);
    }
}