<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="../app.js"></script>
    <link rel="stylesheet" href="/css/navfooter.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <%- include('header') %>
        <div class="bienvenido">
            <h2 class="texto-ovalo">¡Bienvenido a tu mundo de colores!</h2>


        </div>
        <div class="botones-ovalo">
            <div class="absolute-boton">
                <form action="/products/search" method="POST">
                    <input class="boton-uno" type="text" name="productSearch" id="productSearch" placeholder="Que buscás?">
                    <button type="submit" style="    display: inline-block;
                    background-color: #6c6c6c;
                    color: white;
                    height: 24px;
                    width: 45px;
                    padding: 5px 10px;
                    border: none;
                    border-radius: 10px;
                    cursor: pointer;">Ir</button>
                    <!-- Pendiente!! Configurar en CSS -->
                </form>

            </div>
        </div>
    </header>
    <main>
        <article class="imagenes-linea">
            <div class="box-1">
                <a href="/pendingSite"><img class="imagen-1" src="/images/Inspiracion.png" width="100px"></a>
                <div class="texto-1">
                    <p class="titulos-arriba"> Inspiración </p>
                    <p class="ver-mas"> Ver más</p>
                </div>
                <div class="box-2">
                    <a href="/pendingSite"><img class="imagen-2" src="/images/consejos.png" width="100px"></a>
                    <div class="texto-2">
                        <p class="titulos-arriba"> Consejos </p>
                        <p class="ver-mas"> Ver más</p>
                    </div>
                </div>
                <div class="box-3">
                    <a href="/products"> <img class="imagen-3" src="/images/productos.png" width="100px"></a>
                    <div class="texto-3">
                        <p class="titulos-arriba"> Productos </p>
                        <p class="ver-mas"> Ver más</p>
                    </div>
                </div>
        </article>

        <article class="forma">
            <img class="forma-centro" src="/images/forma1.png" width="100px">
            <div class="texto-centro">
                <p class="t1">Te ayudamos a inspirarte. </p>
                <p class="p1">QUIERO <b>PINTAR</b></p>
                <p class="p2">QUIERO <b>REPARAR</b></p>
                <p class="p3">QUIERO <b>IMPERMEABILIZAR</b></p>
                <p class="p4">QUIERO <b>REVESTIR</b></p>
            </div>
        </article>

        <article class="box-interior">
            <img class="img-interior" src="/images/linea-interior.png" width="100px">
            <div class="caja-blanca1">
            <div class="textos-cb">
                <p class="p-titulo-linea"> Línea Interior </p>
                <p class="p-lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Dignissimos itaque esse nostrum molestias aliquid fugit modi earum aspernatur,
                    doloribus harum culpa eos commodi vel nam repudiandae beatae nisi labore dolorem?</p>
                <p class="ver-mas2"> Ver más</p>
            </div></div>
        </article>

        <article class="box-exterior">
            <img class="img-exterior" src="/images/linea-exterior.png" width="100px">
            <div class="caja-blanca2">
            <div class="textos-cb">
                <p class="p-titulo-linea"> Línea Exterior </p>
                <p class="p-lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Dignissimos itaque esse nostrum molestias aliquid fugit modi earum aspernatur,
                    doloribus harum culpa eos commodi vel nam repudiandae beatae nisi labore dolorem?</p>
                <p class="ver-mas2"> Ver más</p>
            </div></div>
        </article>

        <section class="body-ustedes">
            <div class="boletin">
                <p class="h3-boletin">Subscribite a nuestro boletín</p>
                <p class="p-boletin">Descubrí ideas y tendencias de decoración</p>
                <p class="p-boletin">en nuestro nuevo boletín mensual</p>
                <input class="email" type="email" name="email" id="email" placeholder="Dirección de correo electrónico">
                <p class="contactanos-boletin">Contactános</p>
                <ul class="iconos-contacto">
                    <li class="facebook"><a href="#"> <i class="fa-brands fa-facebook-f"></i></i></a></li>
                    <li class="twitter"><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li class="instagram"><a href="#"><i class="fa-brands fa-instagram"></i></i></a></li>
                </ul>
            </div>
        </section>

    </main>
</body>

<footer>
    <%- include('footer') %>
</footer>

</html>