<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicia sesión</title>
    <script src="../app.js"></script>
    <link rel="stylesheet" href="/css/login.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>


<body>
    <main>
        <h2> Bienvenido a <img class="logo" src="/images/LOGO PINTUR.png" width="100px"></h2>
        <p>¡Vamos a iniciar sesión!<p>
        <div class="formularios">
            <form action="/login" method="POST">
                <input class="email" type="email" name="email" id="email" placeholder="Email*">
                <input class="contraseña" type="password" name="contraseña" id="contraseña" placeholder="Contraseña*">
                <button class="continuar" type="submit"> Continuar</button>
        </div>
        <section class="lineas">
            <div class="line1"></div>
            <h3 class="o">o</h3>
            <div class="linea2"></div>
        </section>
        <section class="botones">
            <i class="fa-brands fa-google google"></i>
            <i class="fa-brands fa-facebook-f facebook"></i>
            <i class="fa-brands fa-apple apple"></i>
        </section>
        <section class="texto-ultimo">
            <p class="cuenta">¿No tienes una cuenta?</p>
           <a href="register"> <h3 class="inicia">Regístrate</h3></a>
            
        </section>
    </main>
    </form>

</body>

</html>