<!DOCTYPE html>
<html lang="en">

<%- include('head') %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pintur - Carrito de compras</title>
    <script src="../app.js"></script>
    <link rel="stylesheet" href="/css/navfooter.css">
    <link rel="stylesheet" href="/css/carritocompras.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <%- include('header') %>   
 <div class="bienvenido">
            <h2 class="texto-ovalo"> Carrito de compras</h2>
        </div>
        <div class="botones-ovalo">
            <div class="absolute-boton">
                <form action="/carritocompras" method="POST">
                    <input class="seguir-comprando" type="text" name="se" id="se" placeholder="Seguir comprando">
                    <i class="fa-solid fa-arrow-left flecha"></i>
            </div>
        </div>
    <main>
        <article class="ventana-compra">
            <h3 class="titulo-h3"> Productos (3)</h3>
            <div class="producto-1">
                <img class="producto" src="/images/carrito 1.png" width="100px">
                <div class="textos">

                    <b></b>
                   <a href="productDetail"> <p class="nombre-producto"> ANTIHONGO</p></b></a>
                    <em>
                        <p class="texto-producto"> Anticondensante. Fácil aplicación.</p>
                    </em>
                </div>
                <div class="boxes">
                    <select class="color" name="color" id="color">
                        <option>Blanco</option>
                        <option>Rojo</option>
                        <option>Gris</option>
                    </select>
                    <div class="cantidad">
                        <button class="button-masymenos" type="submit">-</button>
                        <label for="cantidad">1</label>
                        <button class="button-masymenos" type="submit">+</button>
                    </div>
                    <select class="litros" name="litros" id="litros">
                        <option>20L</option>
                        <option>5L</option>
                        <option>10L</option>
                        <option>1L</option>
                    </select>
                    <div>
                        <button class="basura" type="reset"><i class="fa-regular fa-trash-can"></i></button>
                    </div>
                </div>
            </div>
            <div class="producto-2">
                <img class="producto" src="/images/carrito 2.png" width="120px">
                <div class="textos">

                    <p class="nombre-producto"> CASADECO ROMÁNICO</p>
                    <em>
                        <p class="texto-producto"> Interior-Exterior. Textura media.</p>
                    </em>
                </div>
                <div class="boxes">
                    <select class="color" name="color" id="color">
                        <option>Gris</option>
                        <option>Blanco</option>
                        <option>Rojo</option>
                    </select>
                    <div class="cantidad">
                        <button class="button-masymenos" type="submit">-</button>
                        <label for="cantidad">2</label>
                        <button class="button-masymenos" type="submit">+</button>
                    </div>
                    <select class="litros" name="litros" id="litros">
                        <option>4L</option>
                        <option>5L</option>
                        <option>10L</option>
                        <option>20L</option>
                    </select>
                    <div>
                        <button class="basura" type="reset"><i class="fa-regular fa-trash-can"></i></button>
                    </div>
                </div>
            </div>

            <div class="producto-3">
                <img class="producto" src="/images/carrito 3.png" width="100px">
                <div class="textos">

                    <p class="nombre-producto"> PISOS</p>
                    <em>
                        <p class="texto-producto"> Antideslizante. Facil aplicación.</p>
                    </em>
                </div>
                <div class="boxes">
                    <select class="color" name="color" id="color">
                        <option>Blanco</option>
                        <option>Rojo</option>
                        <option>Gris</option>
                    </select>
                    <div class="cantidad">
                        <button class="button-masymenos" type="submit">-</button>
                        <label for="cantidad">4</label>
                        <button class="button-masymenos" type="submit">+</button>
                    </div>
                    <select class="litros" name="litros" id="litros">
                        <option>10L</option>
                        <option>5L</option>
                        <option>20L</option>
                        <option>30L</option>
                    </select>
                    <div>
                        <button class="basura" type="reset"><i class="fa-regular fa-trash-can"></i></button>
                    </div>
                </div>
            </div>
        </article>
        

       

        <article class="box-exterior">
            <img class="img-sucursal" src="/images/encontrar-sucursal.png" width="100px">
            <div class="caja-blanca2">
            <div class="textos-cb">
                <p class="p-titulo-linea"> Encontrar sucursal </p>
                <button class="continuar" type="submit"> VER MÁS TIENDAS</button>
            </div></div>
        </article>


        <section class="body-ustedes">
            <div class="boletin">
                <p class="h3-boletin">Subscribite a nuestro boletín</p>
                <p class="p-boletin">Descubrí ideas y tendencias de decoración</p>
                <p class="p-boletin">en nuestro nuevo boletín mensual</p>
                <input class="email" type="email" name="email" id="email" placeholder="Dirección de correo electrónico">
                <p class="contactanos-boletin">Contactános</p>
                <ul class="iconos-contacto">
                    <li class="facebook"><a href="#"> <i class="fa-brands fa-facebook-f"></i></i></a></li>
                    <li class="twitter"><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li class="instagram"><a href="#"><i class="fa-brands fa-instagram"></i></i></a></li>
                </ul>
            </div>
        </section>
    </main>
</body>

<footer>
    <%- include('footer') %>
</footer>

</html>