<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/navfooter.css">

        <link rel="stylesheet" href="/css/formulario.css">    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Pintur - Home</title>
    </head>
<body>

    <header>
        <%- include('header') %>
    </header>    

    <h1>Añadir producto</h1>


    <article>
    
    <form action="/products" method="post" enctype="multipart/form-data">
      <label for="name">Nombre del producto:</label>
      <input type="text" id="name" name="name" required>
      <br>
  
      <label for="description" class="descripcionProducto">Descripción:</label>
      <textarea id="description" name="description" required></textarea>
      <br>
  
      <label for="image" class="input-file">Selecionar imagen del producto:</label>
      <input type="file" id="image" name="image" multiple>

      <br>
  
      <label for="categoria">Categoría:</label>
      <select name="category" required>
        <option value=""> * Seleccionar</option>
        <option value="interior">Interior</option>
        <option value="exterior">Exterior</option>
        <option value="complementos">Complementos</option>

      </select>
      
      <br>
  
      <label for="color">Color:</label>
      <input type="text" id="color" name="color" required>


      <br>
  
      <label for="price">Opciones - Litros/Tamaño/Etc</label>
      <input type="text" id="options" name="options" required>
      <br>

      <label for="price">Precio:</label>
      <input type="number" id="price" name="price" step="0.01" required>
      <br>
  
      <input class="enviar" type="submit" value="Guardar Producto" >
    </form>
  
   
    </article>
    
    <footer>
        <%- include('footer') %>
    </footer>

    
</body>
</html>