<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicia sesión</title>
    <script src="../app.js"></script>
    <link rel="stylesheet" href="/css/login.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>


<body>
    <main>
        <h2> Bienvenido a <a href="/"><img class="logo" src="/images/LOGO PINTUR.png" width="100px"></a> </h2>
        <p>¡Vamos a iniciar sesión!
        <p>
        <div class="formularios">
            <form action="/users/login" method="POST" id="loginForm">
                <input class="email" type="email" name="email" id="inputEmail" placeholder="Email*">
                <span class="erEmail"></span>
                <input class="contraseña" type="password" name="password" id="inputPassword" placeholder="Contraseña*">
                <span class="erPassword"></span>
                <div class="sesion">
                    <label for="">Mantener sesión iniciada</label><input type="checkbox" name="remember">
                </div>
                <button class="continuar" id="button" type="submit">Continuar</button>
            </form>
        </div>

        <div class="formularios">
            <% if (loginErrors && loginErrors.length) { %>
                <div class="error">
                    <ul>
                        <% loginErrors.forEach(error=> { %>
                            <li>
                                <%= error.msg %>
                            </li>
                            <% }); %>
                    </ul>
                </div>
                <% } %>
        </div>

        <section class="lineas">
            <div class="line1"></div>
            <h3 class="o">o</h3>
            <div class="linea2"></div>
        </section>
        <section class="botones">
            <i class="fa-brands fa-google google"></i>
            <i class="fa-brands fa-facebook-f facebook"></i>
            <i class="fa-brands fa-apple apple"></i>
        </section>
        <section class="texto-ultimo">
            <p class="cuenta">¿No tienes una cuenta?</p>
            <a href="/users/register">
                <h3 class="inicia">Regístrate</h3>
            </a>
        </section>
    </main>

    <script src="../js/loginValidation.js"></script>


</body>

</html>